node-red_bot_flow.json
[{"id":"2744b82a.e419b8","type":"telegram receiver","z":"7b28bde3.c96e34","name":"","bot":"97a678f1.1d0488","saveDataDir":"","x":95,"y":605.4340467453003,"wires":[["4e7083ed.70cadc"],[]]},{"id":"45d83f13.1c599","type":"telegram sender","z":"7b28bde3.c96e34","name":"","bot":"97a678f1.1d0488","x":1351.8372840881348,"y":591.8577680587769,"wires":[[]]},{"id":"eec423a9.2a091","type":"watson-conversation-v1","z":"7b28bde3.c96e34","name":"","workspaceid":"-your--workspace","multiuser":false,"context":true,"x":639.8334045410156,"y":595.1667575836182,"wires":[["48b01e43.e460a"]]},{"id":"d90befb6.092a6","type":"function","z":"7b28bde3.c96e34","name":"conv to tel","func":"msg.payload = {\n  chatId : msg.chatId,\n  type : \"voice\",\n  content : msg.speech};\nreturn msg;","outputs":1,"noerr":0,"x":1001.2779273986816,"y":927.1667499542236,"wires":[["45d83f13.1c599"]]},{"id":"405ee6a7.f80a58","type":"watson-text-to-speech","z":"7b28bde3.c96e34","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"en-US_MichaelVoice","format":"audio/ogg; codecs=opus","password":"DL51ULDoffHF","x":1009.8265724182129,"y":848.2639255523682,"wires":[["d90befb6.092a6"]]},{"id":"1d5f95b2.f43caa","type":"function","z":"7b28bde3.c96e34","name":"conv to tts","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":1002.274486541748,"y":752.1633205413818,"wires":[["405ee6a7.f80a58"]]},{"id":"fa3c5de6.1d57d","type":"watson-speech-to-text","z":"7b28bde3.c96e34","name":"","continuous":true,"speakerlabels":true,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"egW2XYDQSp2m","x":311.83338165283203,"y":918.837064743042,"wires":[["a7b6d527.5f41e8"]]},{"id":"a7b6d527.5f41e8","type":"function","z":"7b28bde3.c96e34","name":"stt to conv","func":"msg.payload = msg.transcription;\nreturn msg;","outputs":1,"noerr":0,"x":484.2847442626953,"y":919.1598119735718,"wires":[["eec423a9.2a091"]]},{"id":"15610edf.d13211","type":"function","z":"7b28bde3.c96e34","name":"get file_id","func":"var fiurl = \"https://api.telegram.org/bot296784769:AAFfWwiLejPNNNo9HWiHikDOYYl0hr8_X6Y/getFile?file_id=\"+msg.payload.content;\nmsg.chatId = msg.payload.chatId;\nmsg.url=fiurl;\nmsg.method=\"GET\"\nmsg.payload=\"\";\nmsg.type=\"voice\";\nreturn msg;","outputs":1,"noerr":0,"x":296.2743606567383,"y":693.1598787307739,"wires":[["f3d40648.7b1e18"]]},{"id":"8ea55ac7.26a038","type":"function","z":"7b28bde3.c96e34","name":"get file_path","func":"msg.payload=\"https://api.telegram.org/file/bot296784769:AAFfWwiLejPNNNo9HWiHikDOYYl0hr8_X6Y/\"+msg.payload.result.file_path;\nreturn msg;","outputs":1,"noerr":0,"x":304.89586448669434,"y":845.8887748718262,"wires":[["fa3c5de6.1d57d"]]},{"id":"f3d40648.7b1e18","type":"http request","z":"7b28bde3.c96e34","name":"","method":"use","ret":"obj","url":"","tls":"","x":301.83348083496094,"y":767.5279808044434,"wires":[["8ea55ac7.26a038"]]},{"id":"e344d1ad.5e227","type":"function","z":"7b28bde3.c96e34","name":"tel to conv","func":"msg.chatId=msg.payload.chatId;\nmsg.payload=msg.payload.content;\nmsg.type=\"message\";\nreturn msg;","outputs":1,"noerr":0,"x":454.28475189208984,"y":447.1632423400879,"wires":[["eec423a9.2a091"]]},{"id":"4e7083ed.70cadc","type":"switch","z":"7b28bde3.c96e34","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"message","vt":"str"},{"t":"eq","v":"voice","vt":"str"}],"checkall":"true","outputs":2,"x":287.2777900695801,"y":597.1597146987915,"wires":[["e344d1ad.5e227"],["15610edf.d13211"]]},{"id":"f6f0c0dc.255d4","type":"function","z":"7b28bde3.c96e34","name":"conv to tel","func":"msg.payload = {\n  chatId : msg.chatId,\n  type : \"message\",\n  content : msg.payload.output.text[0]};\nreturn msg;","outputs":1,"noerr":0,"x":1016.2778205871582,"y":440.1528148651123,"wires":[["45d83f13.1c599"]]},{"id":"48b01e43.e460a","type":"switch","z":"7b28bde3.c96e34","name":"","property":"type","propertyType":"msg","rules":[{"t":"eq","v":"message","vt":"str"},{"t":"eq","v":"voice","vt":"str"}],"checkall":"true","outputs":2,"x":855.2744178771973,"y":596.1529197692871,"wires":[["f6f0c0dc.255d4"],["1d5f95b2.f43caa"]]},{"id":"97a678f1.1d0488","type":"telegram bot","z":"","botname":"angehlotbot","usernames":"","chatids":""}]